<link href="~/Content/fileUpload/css/style.css" rel="stylesheet" />
<style>
    .modal-lg {
        max-width: 1076px !important;
    }

    #upload2 {
        margin-top: 1rem;
        margin-right: 1rem;
        margin-left: 1rem;
    }
</style>
<div class="modal fade" id="cpmKatilimci" tabindex="-1" aria-labelledby="exampleModalLgLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="row mr-1 ml-1" style="border-bottom: 1px solid var(--thBorderLight);">
                <div class="col-lg-1 text-left my-auto pl-4">
                    <img src="/Images/images/cpm/ClipBoard@2x.png" height="80">
                </div>
                <div class="col-lg-10 my-auto text-left">
                    <span style="color: var(--thTitle);font-size: 0.9rem;font-weight:bold;">Plan Düzenle</span> <br>
                    <span style="color: var(--thTitle);font-size: 0.8rem;">Planı düzenlemek için aşağıdaki bilgileri giriniz.</span>
                </div>
                <div class="col-lg-1 my-auto text-right">
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="sc-close"></i>
                    </button>
                </div>
            </div>
            <div class="modal-body p-0">
      
            </div>
        </div>
    </div>
</div>

