
body {
    background-color: #EE7C7B4D;
     font-family: 'Roboto Regular';
    /* font-family: ubuntu;*/
}

.icon {
    color: #EA6463;
}

.text-muted {
    color: #EA6463 !important;
    font-size: 12px;
    font-style: normal !important;
    padding-top: 15px;
    text-align: justify;
}

label {
    color: #EA6463;
    font-style: italic;
    font-size: 12px;
    padding-top: 15px;
    text-align: justify;
    padding: 5px;
}


h4 {
    color: #EA6463;
    text-align: center;
    padding-bottom: 8px;
    margin-top: 25px;
     font-family: 'Roboto Regular';
    /*    font-family: ubuntu;*/
    font-style: italic;
    font-weight: bold;
    font-size: 26px;
}

.auth-page-lg {
    text-align: center;
    float: right;
    padding-right: 120px;
}

.card-body {
    background-color: #FFFFFF66;
    border-radius: 25px;
    height: 320px;
    width: 340px;
    padding: 9px 25px;
    /*margin-top: 205px;*/
}


.Input-LeftIcon-Group .Input-LeftIcon {
    border-radius: 10px;
    font-style: italic;
    padding-bottom: 14px;
    padding-left: 34px;
    padding-top: 19px;
    font-size: 14px;
    border: none;
    background-color: #EE7C7B1A;
    width: 90%;
    height: 40px;
    margin-left: -29px;
    margin-bottom: 12px;
    margin-top: 8px;
     font-family: 'Roboto Regular';
    /*  font-family: ubuntu;*/
    color: #EA646380 !important;
}


:focus {
    outline: none;
    outline-color: none;
    outline-style: none;
    outline-width: none;
}




.log-btn {
    width: 80%;
    font-size: 12px;
    height: 25px;
    color: #fff;
    margin: 14px 37px;
    padding: 3px 5px;
    text-align: center;
    border: none;
    border-radius: 8px;
    background-color: #EA646380;
    font-weight: bold;
}


    .log-btn:hover {
        width: 80%;
        font-size: 12px;
        height: 25px;
        color: #fff;
        margin: 14px 37px;
        padding: 3px 5px;
        text-align: center;
        border: none;
        border-radius: 8px;
        background-color: #EA646380;
        font-weight: bold;
    }
