
body {
    background-color: #8E6BBF4D;
     font-family: 'Roboto Regular';
    /*  font-family: ubuntu;*/
}



h6 {
    color: #8E6BBF;
    text-align: center;
    padding-bottom: 8px;
    margin: 6px;
     font-family: 'Roboto Regular';
    /*    font-family: ubuntu;*/
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
}

.auth-page-lg {
    text-align: center;
    float: right;
    padding-right: 120px;
}

label {
    color: #8E6BBF;
    font-style: italic;
    font-size: 12px;
    padding-top: 15px;
    text-align: justify;
    padding: 13px;
}

.card-body {
    background-color: #FFFFFF66;
    border-radius: 25px;
    height: 300px;
    width: 340px;
    padding: 9px 25px;
    /*margin-top: 205px;*/
}


.icon {
    color: #9D7EC9;
}

.Input-LeftIcon-Group .Input-LeftIcon {
    border-radius: 10px;
    font-style: italic;
    padding-bottom: 14px;
    padding-left: 34px;
    padding-top: 19px;
    font-size: 14px;
    border: none;
    background-color: #9D7EC91A;
    width: 90%;
    height: 40px;
    margin-left: -29px;
    margin-bottom: 12px;
    margin-top: 8px;
     font-family: 'Roboto Regular';
    /*    font-family: ubuntu;*/
    color: #9D7EC9;
}


:focus {
    outline: none;
    outline-color: none;
    outline-style: none;
    outline-width: none;
}



.log-btn {
    width: 75%;
    font-size: 12px;
    height: 25px;
    color: #fff;
    padding: 3px 5px;
    text-align: center;
    border: none;
    border-radius: 9px;
    background-color: #8E6BBF;
    font-weight: bold;
}


    .log-btn:hover {
        width: 75%;
        font-size: 12px;
        height: 25px;
        color: #fff;
        padding: 3px 5px;
        text-align: center;
        border: none;
        border-radius: 9px;
        background-color: #8E6BBF;
        font-weight: bold;
    }
