@using sistemproject.Models
@model IEnumerable<EmployeeModel>
@{
    Layout = "~/Views/Shared/NewThema/_LayoutTakvim.cshtml";
}
<style>
    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #b1e2f957;
    }

    .table-striped tbody tr:nth-of-type(even) {
        background-color: none;
    }

    .buttons-html5 {
        background-color: #b1e2f929;
        color: #9ba7ca;
        padding: 8px 12px 4px 12px;
        font-size: 12px;
        border-radius: 6px;
        font-size: 14px;
        border: 1px solid #ffffff;
        line-height: 24px;
    }

    .page-link {
        color: #6CB7D9;
    }

    .page-item.active .page-link {
        background-color: #6CB7D9;
        border-color: #6CB7D9;
    }

    .buttons-html5:hover {
        background-color: #b1e2f9;
    }

        .buttons-html5:hover i {
            color: #ffffff;
        }

    .buttons-html5 i {
        color: #8b8787;
        font-size: 1.8rem
    }

    .table > :not(:last-child) > :last-child > * {
        border-bottom-color: var(--thBorderLight);
    }

    .dataTables_filter input {
        border-radius: 6px !important;
    }

    .hideableTable {
        display: block;
        transition: display 1s;
    }

        .hideableTable.hidden {
            display: none;
            transition: display 1s;
        }

    .buttons-filterShowHide {
        background-color: #b1e2f929;
        color: #9ba7ca;
        padding: 8px 12px 4px 12px;
        font-size: 12px;
        border-radius: 6px;
        font-size: 14px;
        border: 1px solid #ffffff;
        line-height: 24px;
    }

        .buttons-filterShowHide :hover {
            cursor: pointer;
            /*      background-color: #b1e2f929;
        color: #9ba7ca;*/
        }

        .buttons-filterShowHide i {
            color: #8b8787;
            font-size: 1.8rem
        }

        .buttons-filterShowHide:hover {
            background-color: #b1e2f9;
        }

            .buttons-filterShowHide:hover i {
                color: #ffffff;
            }
</style>
<link href="~/Content/DatatableCss/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/DatatableCss/buttons.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/DatatableCss/responsive.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/CustomerPanelCss/style.css" rel="stylesheet" />
<link href="~/Content/DateRangePicker/daterangepicker.css" rel="stylesheet" />
<div class="d-flex flex-column flex-root">
    <div class="page d-flex flex-row flex-column-fluid">
        <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                <div class="post d-flex flex-column-fluid" id="kt_post">
                    <div id="kt_content_container" class="container-xxl">
                        <div class="row mt-5">
                            <div class="col-12">
                                <div class="card mb-1" style="border-bottom-left-radius:0!important;border-bottom-right-radius:0!important;box-shadow: 0px 0px 6px -3px #406c80!important;">
                                    <div class="card-body" style="padding: 1rem 1.25rem;">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <span class="Label-Title" style="margin-left: 0.7rem;">Danışman</span>
                                                <select class="selectpicker font13" data-live-search="true" id="Employee">
                                                    <option data-tokens="" value="">Seçiniz...</option>
                                                    @foreach (var item in Model)
                                                    {
                                                        <option value="@item.Id">@item.FullName</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-lg-3">
                                                <span class="Label-Title" style="margin-left: 0.7rem;">Başlangıç ve Bitiş Tarihi</span>
                                                <div class="input-group" style="margin-top: 0.7rem;">
                                                    <input type="text" class="form-control" name="dates" id="dateSelect">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text"><i class="dripicons-calendar"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 my-auto">
                                                <a style="margin-top: 27px;" id="ExecuteReport" href="#" class="btn btn-success"><i class="sc-chart-2 fs-4 me-2 text-white"></i> Çalıştır</a>
                                                @*<i style="font-size: 1.4rem !important;" class="sc-chart-2 font-16 btn btn-sm btn-soft-info"></i>*@
                                            </div>
                                        </div>
                                        <div class="mt-5">
                                            <table id="datatable" class="table table-striped table-bordered" style="border-collapse: collapse; border-spacing: 0; width: 100%; border: 2px solid var(--thBorderLight);">
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/DatatableScripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DatatableScripts/dataTables.bootstrap4.min.js"></script>
<script src="~/Scripts/DatatableScripts/dataTables.responsive.min.js"></script>
<script src="~/Scripts/DatatableScripts/dataTables.buttons.min.js"></script>
<script src="~/Scripts/DatatableScripts/jszip.min.js"></script>
<script src="~/Scripts/DatatableScripts/pdfmake.min.js"></script>
<script src="~/Scripts/DatatableScripts/vfs_fonts.js"></script>
<script src="~/Scripts/DatatableScripts/buttons.html5.min.js"></script>
<script src="~/Scripts/DatatableScripts/buttons.print.min.js"></script>
<script src="~/Scripts/DatatableScripts/buttons.colVis.min.js"></script>
<script src="~/Scripts/FullCalendar/moment.min.js"></script>
<script src="~/Scripts/DateRangePicker/daterangepicker.min.js"></script>

<script>
    $(document).ready(function () {
        $.fn.dataTable.render.moment = function (from, to, locale) {
            // Argument shifting
            if (arguments.length === 1) {
                locale = 'en';
                to = from;
                from = 'YYYY-MM-DD';
            }
            else if (arguments.length === 2) {
                locale = 'en';
            }

            return function (d, type, row) {
                if (!d) {
                    return type === 'sort' || type === 'type' ? 0 : d;
                }

                var m = window.moment(d, from, locale, true);
                return m.format(type === 'sort' || type === 'type' ? 'x' : to);
            };
        };
        function getValueByKey(result, key) {
            var value = '';
            $.each(result, function (index, item) {
                if (item.Key === key) {
                    value = item.Value;
                    return false; // Döngüyü sonlandır
                }
            });
            return value;
        }
        function formatDate(date) {
            // Unix zaman damgasını çözme
            var unixTimestamp = parseInt(date.substr(6));
            var dateObj = new Date(unixTimestamp);

            // Tarih formatını ayarlama
            var formattedDate = dateObj.toLocaleDateString('tr-TR', { year: 'numeric', month: '2-digit', day: '2-digit' });
            return formattedDate;
        }

        $('body').on('click', '#ExecuteReport', function () {
            var Employee = $("#Employee option:selected").val() == "" || $("#Employee option:selected").val() == "Seçiniz..." ? "" : $("#Employee option:selected").val();
            var DATE = $("#dateSelect").val();
            var StartDate = DATE.split("-")[0].trim();
            var EndDate = DATE.split("-")[1].trim();

            if (Employee=='')
            {
                alert("Lütfen danışman seçiniz !");
            }
            else {
                //  DataTable'i yok et
                if ($.fn.DataTable.isDataTable('#datatable')) {
                    $('#datatable').DataTable().destroy();
                    $('#datatable tfoot').remove();
                }

                $.blockUI({
                    message: '<lottie-player autoplay  loop mode="normal" src="/Scripts/LottieFiles/cpm-loading-sc.json" style="width: 320px"></lottie-player>',
                });
                $.ajax({
                    type: 'GET',
                    url: "/CpmServisSistemi/ExecuteReport",
                    dataType: 'json',
                    data: { Employee: Employee, StartDate: StartDate, EndDate: EndDate },
                    success: function (result) {
                        if (result.length == 0) {
                            $("#tableContainer").html(`<div class="col-12 mt-5">
                                                <div class="d-flex flex-column flex-center">
                                                    <img src="/Images/5.png" class="mw-400px"/>
                                                    <div class="fs-1 fw-bolder text-dark mb-4">Üzgünüm,herhangi bir veri bulamadık!</div>
                                                    <div class="fs-6">Başka bir danışman bazlı rapor çalıştırmayı deneyiniz.</div>
                                                </div>
                                            </div>`);
                        }
                        else {
                            var clmns = [];

                            result.columns.forEach(elm => {
                                if (elm.DataType != "DateTime")
                                    clmns.push({ "data": elm.ColumnName, "title": elm.ColumnName });
                                else
                                    clmns.push({ "data": elm.ColumnName, "title": elm.ColumnName, "render": $.fn.dataTable.render.moment('DD/MM/YYYY') });
                            });
                            result.columns.filter(elm => elm.DataType == 'DateTime').forEach(elm => {
                                result.data.forEach(row => {
                                    var evalVal = 'var evalDate = new ' + row[elm.ColumnName].replace('/', '').replace('/', '') + ';';
                                    eval(evalVal);
                                    row[elm.ColumnName] = evalDate;
                                });
                            });
                            ///***/
                            /*   $("#datatable").append('<tr id="totalRow"><td colspan="' + clmns.length + '">Toplam Süre: <span id="totalSum"></span></td></tr>');*/
                            $('#datatable').append('<tfoot><tr id="totalRow" class="text-end"><th colspan="' + clmns.length + '">Toplam Süre: <span id="totalSum"></span></th></tr></tfoot>');

                            var totalSum = 0;
                            result.data.forEach(row => {
                                var duration = parseFloat(row['Süre Saat']);
                                if (!isNaN(duration)) {
                                    totalSum += duration;
                                }
                            });
                            var totalSumText = totalSum % 1 !== 0 ? totalSum.toFixed(2) : totalSum;
                            $("#totalSum").text(totalSumText);

                            /*    $("#totalSum").text(totalSum.toFixed(2));*/
                            ///**/
                            $('#datatable').DataTable({
                                orderCellsTop: true,
                                fixedHeader: true,
                                "language": {
                                    "url": "/Scripts/DatatableScripts/tr.json"
                                },
                                data: result.data,
                                columns: clmns,
                                dom: 'Bfrtip',
                                buttons: [
                                    {
                                        extend: 'copyHtml5',
                                        text: '<i class="sc-duplicate-copy"></i>',
                                        titleAttr: 'Kopyala'
                                    },
                                    {
                                        extend: 'excelHtml5',
                                        text: '<i class="sc-file-excel"></i>',
                                        titleAttr: 'Excele Aktar'
                                    },
                                    {
                                        extend: 'csvHtml5',
                                        text: '<i class="sc-file-csv"></i>',
                                        titleAttr: 'CSV Aktar'
                                    },
                                    {
                                        extend: 'pdfHtml5',
                                        text: '<i class="sc-file-pdf"></i>',
                                        titleAttr: 'PDF e Aktar'
                                    }
                                ],
                                initComplete: function () {
                                    $('<button id="showHideFilter" class="float-left buttons-filterShowHide"><i id="showHideFilterIcon" class="sc-settings-3"></i></button>').prependTo('#datatable_filter')

                                    $("#showHideFilter").click(function () {
                                        var title = $("#showHideFilterIcon").toggleClass("sc-settings-3");
                                        var title = $("#showHideFilterIcon").toggleClass("sc-settings-2");

                                        $(".hideableTable").toggleClass("hidden");
                                    });

                                    var i = 1;
                                    var divHacer = $('<table class="hideableTable hidden mt-3"><tbody id="HACER" style="text-align:left;"><tbody></table>').appendTo($("#datatable_filter"));
                                    var api = this.api();
                                    api
                                        .columns()
                                        .every(function (colIdx) {
                                            var column = this;

                                            var cell = $('thead tr th').eq(
                                                $(column.header()).index()
                                            );
                                            var title = $(cell).text();

                                            console.log(column);

                                            var div2 = $('<tr><td><label class="my-auto mr-3 font-weight-bold text-muted">' + title + ' :</label><td/><td id="HACER' + i + '" style="min-width:400px; max-width:450px;"></td></tr>').appendTo("#HACER");

                                            //var select = $('<select class="form-control"><option value="">::Seçiniz::</option></select>')

                                            var select = $('<select class="selectpicker" data-live-search="true"><option data-tokens="" value="">::Seçiniz::</option></select>')
                                                .appendTo($("#HACER" + i))
                                                .on('change', function () {
                                                    var val = $.fn.dataTable.util.escapeRegex($(this).val());
                                                    column.search(val ? '^' + val + '$' : '', true, false).draw();
                                                });

                                            var isDateTime = result.columns.filter(elm => elm.DataType == 'DateTime').find(elm => elm.ColumnName == title) != null;

                                            console.log(isDateTime);

                                            var dates = [];
                                            column
                                                .data()
                                                .unique()
                                                .sort()
                                                .each(function (d, j) {
                                                    if (!isDateTime)
                                                        select.append('<option value="' + d + '">' + d + '</option>');
                                                    else {
                                                        var date = new Date(d);
                                                        if (dates.find(elm => elm.toString() == date.toString()) == null) {
                                                            dates.push(date);
                                                            var dd = moment(date).format('DD/MM/YYYY');
                                                            select.append('<option value="' + dd + '">' + dd + '</option>');
                                                        }
                                                    }
                                                });
                                            i++;
                                        });
                                    $('.selectpicker').selectpicker();
                                }
                            });
                        }
                        setTimeout($.unblockUI, 240);
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            }


          
        });
    });
    //#region Tarih Convert
    $('input[name="dates"]').daterangepicker({
        "alwaysShowCalendars": true,
    });
    $(function () {
        date = new Date($('#dateSelect').val())
        date.getDate(),
            $('input[name="daterangepicker"]').daterangepicker({
                autoUpdateInput: false,
                locale: {
                    cancelLabel: 'Clear'
                }
            });
        $('input[name="daterangepicker"]').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
        });
        $('input[name="daterangepicker"]').on('cancel.daterangepicker', function (ev, picker) {
            $(this).val('');
        });
        var newDate = new Date();
        newDate.setDate(newDate.getDate() + 1);
        var endDate = newDate.getDate() + '/' + (newDate.getMonth() + 1) + '/' + newDate.getFullYear();
        var date = new Date();
        var firstDay = new Date(date.getFullYear(), date.getMonth() - 1, 1);
        var startDate = moment(firstDay).format('DD/MM/YYYY');
        $('#dateSelect').val(startDate + " - " + endDate);
        //var newDate = new Date();
        //var dene = newDate.getDate() + '/' + (newDate.getMonth() + 1) + '/' + newDate.getFullYear();
        //$('#DATE').val(dene + " - " + dene);

        $('#dateSelect').daterangepicker({
            "locale": {
                "format": "DD/MM/YYYY",
                "separator": " - ",
                "applyLabel": "Uygula",
                "cancelLabel": "Vazgeç",
                "fromLabel": "Dan",
                "toLabel": "a",
                "customRangeLabel": "Seç",
                "daysOfWeek": [
                    "Pt",
                    "Sl",
                    "Çr",
                    "Pr",
                    "Cm",
                    "Ct",
                    "Pz"
                ],
                "monthNames": [
                    "Ocak",
                    "Şubat",
                    "Mart",
                    "Nisan",
                    "Mayıs",
                    "Haziran",
                    "Temmuz",
                    "Ağustos",
                    "Eylül",
                    "Ekim",
                    "Kasım",
                    "Aralık"
                ],
                "firstDay": 1
            }
        })
    });
    //#endregion
    // #region Gunun Tarihini ve Saatini Getirme
    try {
        /*Günün tarihini alma ve formatlama) */
        Date.prototype.getValidFormat = function () {
            var hours = this.getHours();
            var minute = this.getMinutes();
            var ay = this.getMonth() + 1;
            var gun = this.getDate();
            var yil = this.getFullYear();
            return yil + "-" + (ay < 10 ? "0" + ay : ay) + "-" + (gun < 10 ? "0" + gun : gun) + "T" + (hours < 10 ? "0" + hours : hours) + ":" + (minute < 10 ? "0" + minute : minute); //Gün ve ay 10 dan küçükse başına 0 gelir
        };
        var date = new Date();
        $("#dateSelect").val(date.getValidFormat());

    } catch (error) {
        console.error(error);
    }
    // #endregion

</script>