@charset "UTF-8";

@font-face {
  font-family: "secretocho-icons";
  src:url("fonts/secretocho-icons.eot");
  src:url("fonts/secretocho-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/secretocho-icons.woff") format("woff"),
    url("fonts/secretocho-icons.ttf") format("truetype"),
    url("fonts/secretocho-icons.svg#secretocho-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "secretocho-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="sc-"]:before,
[class*=" sc-"]:before {
  font-family: "secretocho-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sc-add:before {
  content: "\61";
}
.sc-add-line:before {
  content: "\62";
}
.sc-align-center:before {
  content: "\63";
}
.sc-align-left:before {
  content: "\64";
}
.sc-align-right:before {
  content: "\65";
}
.sc-amount:before {
  content: "\66";
}
.sc-announcement:before {
  content: "\67";
}
.sc-announcement-2:before {
  content: "\68";
}
.sc-arrow-down:before {
  content: "\69";
}
.sc-arrow-down-bg-filled:before {
  content: "\6a";
}
.sc-arrow-down-double:before {
  content: "\6b";
}
.sc-arrow-down-long:before {
  content: "\6c";
}
.sc-arrow-left:before {
  content: "\6d";
}
.sc-arrow-left-bg-filled:before {
  content: "\6e";
}
.sc-arrow-left-double:before {
  content: "\6f";
}
.sc-arrow-left-long:before {
  content: "\70";
}
.sc-arrow-right:before {
  content: "\71";
}
.sc-arrow-right-bg-filled:before {
  content: "\72";
}
.sc-arrow-right-double:before {
  content: "\73";
}
.sc-arrow-right-long:before {
  content: "\74";
}
.sc-arrow-up:before {
  content: "\75";
}
.sc-arrow-up-bg-filled:before {
  content: "\76";
}
.sc-arrow-up-double:before {
  content: "\77";
}
.sc-arrow-up-long:before {
  content: "\78";
}
.sc-audio-backward:before {
  content: "\79";
}
.sc-audio-forward:before {
  content: "\7a";
}
.sc-audio-note:before {
  content: "\41";
}
.sc-audio-note-2:before {
  content: "\42";
}
.sc-audio-pause:before {
  content: "\43";
}
.sc-audio-play:before {
  content: "\44";
}
.sc-audio-stop:before {
  content: "\45";
}
.sc-audio-wave:before {
  content: "\46";
}
.sc-background-color:before {
  content: "\47";
}
.sc-backward:before {
  content: "\48";
}
.sc-barcode:before {
  content: "\49";
}
.sc-bell:before {
  content: "\4a";
}
.sc-book:before {
  content: "\4b";
}
.sc-book-2:before {
  content: "\4c";
}
.sc-book-3:before {
  content: "\4d";
}
.sc-box-product:before {
  content: "\4e";
}
.sc-box-product-barcode:before {
  content: "\4f";
}
.sc-building-bank:before {
  content: "\50";
}
.sc-building-city:before {
  content: "\51";
}
.sc-building-home:before {
  content: "\52";
}
.sc-building-shop-store:before {
  content: "\53";
}
.sc-building-small-city:before {
  content: "\54";
}
.sc-building-tax-office:before {
  content: "\55";
}
.sc-building-warehouse:before {
  content: "\56";
}
.sc-calendar:before {
  content: "\57";
}
.sc-calendar-approved:before {
  content: "\58";
}
.sc-calendar-approved-2:before {
  content: "\59";
}
.sc-calendar-crm-both:before {
  content: "\5a";
}
.sc-calendar-failed:before {
  content: "\30";
}
.sc-calendar-unknown:before {
  content: "\31";
}
.sc-cargo-truck:before {
  content: "\32";
}
.sc-cargo-truck-2:before {
  content: "\33";
}
.sc-cargo-truck-approved:before {
  content: "\34";
}
.sc-cargo-truck-failed:before {
  content: "\35";
}
.sc-cargo-truck-name:before {
  content: "\36";
}
.sc-change:before {
  content: "\37";
}
.sc-chart:before {
  content: "\38";
}
.sc-chart-2:before {
  content: "\39";
}
.sc-chart-3:before {
  content: "\21";
}
.sc-chart-4:before {
  content: "\22";
}
.sc-chart-5:before {
  content: "\23";
}
.sc-chart-6:before {
  content: "\24";
}
.sc-chart-circular:before {
  content: "\25";
}
.sc-chart-column:before {
  content: "\26";
}
.sc-chart-donut:before {
  content: "\27";
}
.sc-chart-pie:before {
  content: "\28";
}
.sc-chart-pie-2:before {
  content: "\29";
}
.sc-chart-row-bar:before {
  content: "\2a";
}
.sc-check:before {
  content: "\2b";
}
.sc-check-bg-filled:before {
  content: "\2c";
}
.sc-close:before {
  content: "\2d";
}
.sc-close-bg-filled:before {
  content: "\2e";
}
.sc-code:before {
  content: "\2f";
}
.sc-code-2:before {
  content: "\3a";
}
.sc-comment:before {
  content: "\3b";
}
.sc-comment-2:before {
  content: "\3c";
}
.sc-comment-approved:before {
  content: "\3d";
}
.sc-comment-declined:before {
  content: "\3e";
}
.sc-comment-love:before {
  content: "\3f";
}
.sc-comment-note:before {
  content: "\40";
}
.sc-compress:before {
  content: "\5b";
}
.sc-cube-object:before {
  content: "\5d";
}
.sc-cut-scissors:before {
  content: "\5e";
}
.sc-database:before {
  content: "\5f";
}
.sc-database-2:before {
  content: "\60";
}
.sc-day-30-100:before {
  content: "\7b";
}
.sc-day-101-200:before {
  content: "\7c";
}
.sc-day-201-plus:before {
  content: "\7d";
}
.sc-design-color-palette:before {
  content: "\7e";
}
.sc-device-calculator:before {
  content: "\5c";
}
.sc-device-camera:before {
  content: "\e000";
}
.sc-device-cell-phone:before {
  content: "\e001";
}
.sc-device-clock:before {
  content: "\e002";
}
.sc-device-compass:before {
  content: "\e003";
}
.sc-device-computer:before {
  content: "\e004";
}
.sc-device-fax:before {
  content: "\e005";
}
.sc-device-headphone:before {
  content: "\e006";
}
.sc-device-laptop:before {
  content: "\e007";
}
.sc-device-microphone:before {
  content: "\e008";
}
.sc-device-microphone-mute:before {
  content: "\e009";
}
.sc-device-on-off:before {
  content: "\e00a";
}
.sc-device-phone:before {
  content: "\e00b";
}
.sc-device-printer:before {
  content: "\e00c";
}
.sc-device-speaker:before {
  content: "\e00d";
}
.sc-device-speaker-mute:before {
  content: "\e00e";
}
.sc-double-check:before {
  content: "\e00f";
}
.sc-download:before {
  content: "\e010";
}
.sc-duplicate:before {
  content: "\e011";
}
.sc-duplicate-copy:before {
  content: "\e012";
}
.sc-edit-pencil:before {
  content: "\e013";
}
.sc-edit-pencil-2:before {
  content: "\e014";
}
.sc-error-sign:before {
  content: "\e015";
}
.sc-eye:before {
  content: "\e016";
}
.sc-eye-close:before {
  content: "\e017";
}
.sc-eye-open:before {
  content: "\e018";
}
.sc-file-code:before {
  content: "\e019";
}
.sc-file-csv:before {
  content: "\e01a";
}
.sc-file-excel:before {
  content: "\e01b";
}
.sc-file-gif:before {
  content: "\e01c";
}
.sc-file-jpg:before {
  content: "\e01d";
}
.sc-file-mov:before {
  content: "\e01e";
}
.sc-file-mp3:before {
  content: "\e01f";
}
.sc-file-mp4:before {
  content: "\e020";
}
.sc-file-pdf:before {
  content: "\e021";
}
.sc-file-php:before {
  content: "\e022";
}
.sc-file-png:before {
  content: "\e023";
}
.sc-file-powerpoint:before {
  content: "\e024";
}
.sc-file-psd:before {
  content: "\e025";
}
.sc-file-rar:before {
  content: "\e026";
}
.sc-file-svg:before {
  content: "\e027";
}
.sc-file-tiff:before {
  content: "\e028";
}
.sc-file-word:before {
  content: "\e029";
}
.sc-file-zip:before {
  content: "\e02a";
}
.sc-filter:before {
  content: "\e02b";
}
.sc-flash-light:before {
  content: "\e02c";
}
.sc-folder:before {
  content: "\e02d";
}
.sc-forward:before {
  content: "\e02e";
}
.sc-fullscreen-exit:before {
  content: "\e02f";
}
.sc-fullscreen-exit-2:before {
  content: "\e030";
}
.sc-gallery:before {
  content: "\e031";
}
.sc-glasses:before {
  content: "\e032";
}
.sc-heart:before {
  content: "\e033";
}
.sc-history:before {
  content: "\e034";
}
.sc-image-add:before {
  content: "\e035";
}
.sc-image-export:before {
  content: "\e036";
}
.sc-info-sign:before {
  content: "\e037";
}
.sc-invert-color:before {
  content: "\e038";
}
.sc-key:before {
  content: "\e039";
}
.sc-link:before {
  content: "\e03a";
}
.sc-link-2:before {
  content: "\e03b";
}
.sc-link-broken:before {
  content: "\e03c";
}
.sc-list:before {
  content: "\e03d";
}
.sc-location:before {
  content: "\e03e";
}
.sc-lock:before {
  content: "\e03f";
}
.sc-lock-add-password:before {
  content: "\e040";
}
.sc-lock-unlock:before {
  content: "\e041";
}
.sc-log-in:before {
  content: "\e042";
}
.sc-log-out:before {
  content: "\e043";
}
.sc-mail:before {
  content: "\e044";
}
.sc-map:before {
  content: "\e045";
}
.sc-menu:before {
  content: "\e046";
}
.sc-menu-2:before {
  content: "\e047";
}
.sc-menu-3:before {
  content: "\e048";
}
.sc-menu-4:before {
  content: "\e049";
}
.sc-menu-5:before {
  content: "\e04a";
}
.sc-menu-6:before {
  content: "\e04b";
}
.sc-menu-7:before {
  content: "\e04c";
}
.sc-menu-8:before {
  content: "\e04d";
}
.sc-menu-9:before {
  content: "\e04e";
}
.sc-menu-10:before {
  content: "\e04f";
}
.sc-menu-11:before {
  content: "\e050";
}
.sc-merge:before {
  content: "\e051";
}
.sc-minus:before {
  content: "\e052";
}
.sc-minus-bg-filled:before {
  content: "\e053";
}
.sc-money-bag:before {
  content: "\e054";
}
.sc-money-cash:before {
  content: "\e055";
}
.sc-money-cash-2:before {
  content: "\e056";
}
.sc-money-check:before {
  content: "\e057";
}
.sc-money-coins:before {
  content: "\e058";
}
.sc-money-coins-2:before {
  content: "\e059";
}
.sc-money-currency:before {
  content: "\e05a";
}
.sc-money-euro:before {
  content: "\e05b";
}
.sc-money-target:before {
  content: "\e05c";
}
.sc-money-try:before {
  content: "\e05d";
}
.sc-money-usd:before {
  content: "\e05e";
}
.sc-money-wallet:before {
  content: "\e05f";
}
.sc-night:before {
  content: "\e060";
}
.sc-notebook:before {
  content: "\e061";
}
.sc-number:before {
  content: "\e062";
}
.sc-number-line-order:before {
  content: "\e063";
}
.sc-page-approved:before {
  content: "\e064";
}
.sc-page-change:before {
  content: "\e065";
}
.sc-page-color:before {
  content: "\e066";
}
.sc-page-color-2:before {
  content: "\e067";
}
.sc-page-delete:before {
  content: "\e068";
}
.sc-page-invoice:before {
  content: "\e069";
}
.sc-page-invoice-2:before {
  content: "\e06a";
}
.sc-page-order:before {
  content: "\e06b";
}
.sc-page-order-2:before {
  content: "\e06c";
}
.sc-page-rotate:before {
  content: "\e06d";
}
.sc-page-search:before {
  content: "\e06e";
}
.sc-page-show:before {
  content: "\e06f";
}
.sc-page-watermark:before {
  content: "\e070";
}
.sc-pages:before {
  content: "\e071";
}
.sc-pages-delete:before {
  content: "\e072";
}
.sc-pages-show:before {
  content: "\e073";
}
.sc-payment-type-credit-card-cash:before {
  content: "\e074";
}
.sc-plane-take-off:before {
  content: "\e075";
}
.sc-plus:before {
  content: "\e076";
}
.sc-plus-bg:before {
  content: "\e077";
}
.sc-plus-bg-filled:before {
  content: "\e078";
}
.sc-push-pin:before {
  content: "\e079";
}
.sc-re-size:before {
  content: "\e07a";
}
.sc-refresh:before {
  content: "\e07b";
}
.sc-repeat:before {
  content: "\e07c";
}
.sc-repeat-one:before {
  content: "\e07d";
}
.sc-route:before {
  content: "\e07e";
}
.sc-route-2:before {
  content: "\e07f";
}
.sc-rss:before {
  content: "\e080";
}
.sc-save:before {
  content: "\e081";
}
.sc-screen-fullscreen:before {
  content: "\e082";
}
.sc-search:before {
  content: "\e083";
}
.sc-security:before {
  content: "\e084";
}
.sc-send:before {
  content: "\e085";
}
.sc-settings:before {
  content: "\e086";
}
.sc-settings-2:before {
  content: "\e087";
}
.sc-settings-3:before {
  content: "\e088";
}
.sc-share:before {
  content: "\e089";
}
.sc-shopping-bag:before {
  content: "\e08a";
}
.sc-shopping-bag-approved:before {
  content: "\e08b";
}
.sc-shopping-bag-failed:before {
  content: "\e08c";
}
.sc-shopping-cart:before {
  content: "\e08d";
}
.sc-shopping-cart-2:before {
  content: "\e08e";
}
.sc-shuffle:before {
  content: "\e08f";
}
.sc-sms:before {
  content: "\e090";
}
.sc-split:before {
  content: "\e091";
}
.sc-square-code:before {
  content: "\e092";
}
.sc-square-code-2:before {
  content: "\e093";
}
.sc-star:before {
  content: "\e094";
}
.sc-sun:before {
  content: "\e095";
}
.sc-swap:before {
  content: "\e096";
}
.sc-table:before {
  content: "\e097";
}
.sc-tag:before {
  content: "\e098";
}
.sc-tag-2:before {
  content: "\e099";
}
.sc-tag-price:before {
  content: "\e09a";
}
.sc-td:before {
  content: "\e09b";
}
.sc-text:before {
  content: "\e09c";
}
.sc-text-add:before {
  content: "\e09d";
}
.sc-text-export:before {
  content: "\e09e";
}
.sc-text-font-family:before {
  content: "\e09f";
}
.sc-text-font-size:before {
  content: "\e0a0";
}
.sc-thumbs-down:before {
  content: "\e0a1";
}
.sc-thumbs-up:before {
  content: "\e0a2";
}
.sc-toggle-swtich:before {
  content: "\e0a3";
}
.sc-trash-bin:before {
  content: "\e0a4";
}
.sc-update:before {
  content: "\e0a5";
}
.sc-upload:before {
  content: "\e0a6";
}
.sc-upload-cloud:before {
  content: "\e0a7";
}
.sc-user:before {
  content: "\e0a8";
}
.sc-user-add:before {
  content: "\e0a9";
}
.sc-user-add-bg:before {
  content: "\e0aa";
}
.sc-user-add-bg-filled:before {
  content: "\e0ab";
}
.sc-user-department:before {
  content: "\e0ac";
}
.sc-user-error:before {
  content: "\e0ad";
}
.sc-user-group:before {
  content: "\e0ae";
}
.sc-user-id-card:before {
  content: "\e0af";
}
.sc-user-id-card-2:before {
  content: "\e0b0";
}
.sc-user-manager:before {
  content: "\e0b1";
}
.sc-user-target:before {
  content: "\e0b2";
}
.sc-user-unknown:before {
  content: "\e0b3";
}
.sc-wh-height:before {
  content: "\e0b4";
}
.sc-wh-width:before {
  content: "\e0b5";
}
.sc-wifi:before {
  content: "\e0b6";
}
.sc-work-suitcase:before {
  content: "\e0b7";
}
