
@{
    ViewBag.Title = "ServisFormuKaydet";
    Layout = "~/Views/Shared/NewThema/_LayoutTakvim.cshtml";
}

<style>
    ::placeholder {
        color: var(--thBrown) !important;
    }

    .Input-SearchView-Group .Input-SearchView-Icon {
        color: var(--thBrown) !important;
    }

    .Dropdown-LeftIcon-Basic .LeftIcon {
        top: 34px !important;
    }

    .sc-user-manager, .sc-device-phone, .sc-money-bag, .sc-calendar-failed {
        color: var(--thBrown);
        Background: var(--thBack);
        border-radius: 5px;
        font-size: 20px;
        padding: 5px;
    }

    .btn-login {
        color: var(--thCpmOrange);
        background-color: transparent;
        border-color: var(--thBorder);
    }

        .btn-login:hover {
            color: var(--thWhite);
            background-color: var(--thCpmOrange);
            border-color: var(--thBorder);
        }
</style>
<link href="~/Tema/assets/css/StyleNewTheme.css" rel="stylesheet" />
<link href="~/Content/User/Css/AnaCSS.css" rel="stylesheet" />

<div class="d-flex flex-column flex-root">
    <div class="page d-flex flex-row flex-column-fluid">
        <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                <div class="post d-flex flex-column-fluid" id="kt_post">
                    <div id="kt_content_container" class="container-xxl">
                        <div class="row mr-5 ml-5">
                            <div class="col-12">                    
                                <div class="row mt-5" style="background-color:var(--thWhite);margin-top:5rem !important;border: 1px solid var(--thOrange); border-radius: 6px;">
                                    <div class="col-4 pl-5">
                                        <lottie-player autoplay loop mode="normal" src="~/Scripts/LottieFiles/savedform.json" style="width: 390px"></lottie-player>
                                    </div>
                                    <div class="col-8 my-auto text-center">
                                        <div class="row">
                                            <div class="col-12 my-auto pb-5 fontBold">
                                                <label class="font15" style="color:var(--thOrange);">
                                                    Servis Formu Başarıyla oluşturuldu ve iki tarafa da e-posta gönderildi !
                                                </label>
                                            </div>
                                            <div class="col-12 my-auto">
                                                <button style="width:auto!important;font-size:1rem!important;" type="button" class="Button-Details pl-2 ml-3" id="btnServiceFormPdfDownload">Servisi Formunu İndir</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script>
    //#region  Service Form İndir
    jQuery('body').on('click', '#btnServiceFormPdfDownload', function () {
        window.location = "/CpmServisSistemi/ServisFormuindirmeEkrani2";
    });
        //#endregion
</script>